.App {
  text-align: center;
  background-color: #322459;
  background: linear-gradient(0.375turn, #ffec78, #fef8fd);
  padding-top: 48px;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 48px);
  margin-top: 0;
  z-index: 0;
}

.leaflet-marker-icon {
  left: -12px !important;
  top: -41px !important;
}

.map-container {
  z-index: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}